/* AREA basics */
body {
    margin: 0 auto;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

a {
    color: rgb(44, 78, 105);
    font-weight: bold;
}
a:hover {
    color: rgb(59, 104, 141);
    text-decoration: underline;
}

h1,
h2,
h3 {
    line-height: 1.3;
    font-weight: bold;
}

h1 {
    margin: 0;
}

h1,
h2,
h3 {
    margin-bottom: 0;
}

h3 {
    line-height: initial;
}

ul {
    list-style-type: square;
}

ul ul {
    list-style-type: circle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
th,
td {
    text-align: left;
    padding: 5px 5px 5px 0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tableDiv {
    overflow-x: auto;
}
.marginTop {
    margin-top: 1.3rem;
}

/* AREA Raleway font */
@font-face {
    font-family: "Raleway";
    font-display: swap;
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    font-display: swap;
    src: url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* AREA shared classes - helpers */
.centered {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}
.underlined {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.half {
    width: 100%;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* AREA shared content */
header {
    height: 250px;
    overflow: hidden;
}

@keyframes backgroundSlider {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0%);
    }
}
.background {
    background: url(../img/Youth-Soccer.jpg) top center no-repeat;
    background-size: cover;
    height: 315px;
    animation: backgroundSlider 2s linear forwards;
}

.pageTitle {
    position: absolute;
    top: 170px;
    width: 100%;
}

.pageTitle h1 {
    padding: 2px 30px;
    margin: 0 auto;
    font-size: 1.7rem;
    background: rgba(255, 255, 255, 0.8);
    width: fit-content;
    font-weight: 400;
}

.banner {
    background-color: #4a4a4a;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

.banner h2 {
    margin-top: 0;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
}

.logo {
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}

.logo img {
    max-width: 80px;
}

.contents {
    overflow: hidden;
    padding: 5px 10px;
    margin-bottom: 72px;
}

/* AREA back to top button */
#backToTop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(79, 79, 79);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 1rem;
}

#backToTop:hover {
    background-color: rgb(42, 42, 42);
}

/* AREA pageContent specific shizzles */
.rulesPageContents h3 {
    text-transform: uppercase;
}

.rulesPageContents strong {
    text-transform: uppercase;
}

.rulesPageContents ul,
.rulesPageContents ol {
    margin: 0;
}

.rulesPageContents li {
    padding: 0;
    margin: 0;
}

.rulesPageContents .contents > ol > li {
    margin-bottom: 1.1rem;
}
.rulesPageContents ul.last {
    margin-bottom: 1.3rem;
}

.aboutPageContents .gallery {
    padding: 0;
    max-width: 300px;
}

.contactPageContents img {
    margin-top: 10px;
    width: 100%;
}

/* flexbox magic */
.registrationPageContents {
    line-height: 2.5rem;
}
.registrationPageContents .registrationForm {
    margin-top: 15px;
}
.registrationPageContents .parent {
    display: flex;
    flex-flow: row wrap;
}
.registrationPageContents .child {
    flex-grow: 1;
}
.registrationPageContents label {
    float: left;
}
.registrationPageContents span {
    display: block;
    overflow: hidden;
    padding-right: 5px;
}
.registrationPageContents input[type="text"],
.registrationPageContents input[type="email"],
.registrationPageContents input[type="phone"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #444;
    font-size: 18px;
    color: #444;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin-left: 5px;
}
.registrationPageContents input[type="radio"] {
    margin-left: 8px;
}

/* gallery styles copied from w3schools.com css and adapted */
.w3-section {
    margin-top: 16px;
}
.w3-col {
    float: left;
    width: 100%;
    padding: 0 8px 0 0;
}
.w3-col.s4 {
    width: 24%;
}
.w3-opacity {
    opacity: 0.6;
}
.w3-opacity:hover,
.w3-opacity-off {
    opacity: 1;
}
.aboutPageContents img.mySlides {
    display: none;
}

/* AREA navigation */
.bottomnav {
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 30px;
    background-color: #4a4a4a;
    overflow: hidden;
    line-height: 1.5rem;
    z-index: 100;
}

.bottomnav .menuToggle {
    left: 0;
    position: absolute;
    bottom: 0;
    width: fit-content;
}

.bottomnav .menuToggle a.icon {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
}

.bottomnav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 72px;
    position: relative;
}

.bottomnav a:not(.active) {
    display: none;
}
.bottomnav a {
    color: #ebebeb;
    padding: 0.8rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0;
    display: block;
    line-height: 1rem;
}

.bottomnav a:hover {
    color: #fff;
    background-color: #252525;
}

.bottomnav a.active {
    color: #fff;
    background-color: #101010;
}

.bottomnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.bottomnav.responsive li {
    display: block;
    text-align: left;
}

/* AREA footer */
footer {
    bottom: 0;
    position: fixed;
    background-color: lightgrey;
    width: 100%;
    max-width: inherit;
    height: 30px;
}

footer span {
    font-size: 12px;
}

.site-notice {
    margin: 0 auto;
    width: fit-content;
}

button {
    display: block;
    float: left;
    padding: 4px 8px;
    margin: 1px;
}

/* AREA media queries - responsiveness */
@media only screen and (min-width: 455px) {
    .pageTitle h1 {
        border-radius: 12px;
    }

    @keyframes backgroundSlider {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-5%);
        }
    }
}

@media only screen and (min-width: 500px) {
    @keyframes backgroundSlider {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10%);
        }
    }

    footer span {
        font-size: initial;
    }

    button {
        display: block;
        float: left;
        padding: 5px 10px;
        margin: 5px;
    }

    .contents {
        padding: 5px 18px;
    }
}

@media only screen and (min-width: 800px) {
    @keyframes backgroundSlider {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15%);
        }
    }

    .half {
        width: 50%;
        float: left;
    }

    .banner h2 {
        font-size: 1.5rem;
    }

    .branding {
        position: absolute;
        left: 5%;
        top: 0;
        width: 90%;
    }
    .logo {
        position: absolute;
        left: 0;
        top: 40px;
        width: initial;
        text-align: initial;
    }
    .logo img {
        max-width: 135px;
    }
    .pageTitle {
        position: absolute;
        top: 87px;
        left: 155px;
        width: unset;
    }
    .pageTitle h1 {
        font-size: 2rem;
    }

    .contents {
        padding: 5px 25px;
    }
    .rulesPageContents li {
        padding: 0 0 0 10px;
        margin: 0 0 0 10px;
    }
    .aboutPageContents .left {
        float: left;
        width: 67%;
    }
    .aboutPageContents .gallery {
        padding: 10px 0 0 20px;
        width: 30%;
        float: left;
    }
    .gameInfoPageContents .paddingLeft td:nth-child(1) {
        padding-left: 2rem;
    }
    .gameInfoPageContents tr:nth-child(1) > th.minWidth {
        min-width: 106px;
    }
    .gameInfoPageContents .half {
        margin-top: -1rem;
    }

    .contactPageContents img {
        margin-top: 20px;
    }

    .registrationPageContents .gap {
        padding-left: 10px;
    }

    .bottomnav ul {
        left: 0;
        width: fit-content;
        margin: 0 auto;
    }
    .bottomnav li {
        float: left;
    }
    .bottomnav a:not(.active) {
        display: block;
    }
    .bottomnav a.icon {
        display: none;
    }
    .menuToggle {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    @keyframes backgroundSlider {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-20%);
        }
    }
}
