body {
    margin: 0 auto 60px;
    max-width: 1200px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

header {
    background: url("../img/design2_image1.jpg") bottom center no-repeat;;
    background-size: cover;
    height: 461px;
    max-height: 230px;
}

.pageTitle {
    background: rgba(255, 255, 255, 0.6);
    width: fit-content;
}

.pageTitle h1 {
    padding: 2px 12px;
}

.banner {
    background-color: #323232;
    z-index: 10;
    margin-bottom: 30px;
}

.banner h2 {
    margin-top: 0;
    text-align: center;
    padding: 3px 0;
    color: #ebebeb;
    font-weight: bold;
}

h1, h2 {
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 0em;
}

h3 {
    margin-bottom: -0.6em;
}

.logo {
    position: absolute;
    right: 15%;
    top: 37%;
    z-index: 100;
}

.logo img {
    max-width: 120px;
}

nav {
    position: relative;
    top: 40px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
float: left;
}

.topnav li a {
display: block;
color: #444;
text-align: center;
padding: 1em;
text-decoration: none;
}

.topnav li a:hover {
text-decoration: underline;
}

.topnav li a.active {
text-decoration: underline;
color: #222;
}

footer {
    bottom: 0;
    position: fixed;
    background-color: lightgrey;
    width: 100%;
    max-width: inherit;
    padding: 5px 0;
}

.css-switcher {
    width: fit-content;
    margin: 0 auto;
}

button {
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 5px;
}

/*
@media only screen and (min-width: 600px) {
    img {
        display: none;
    }
}
*/